span {
    background: red;
    display: inline-block;
    padding: 10px;
    color:#fff;
    margin: 10px 0;
}

.availabel span {
    background-color: green;
}

.nearby span::after{
    content: "nearby";
    margin-left: 10px;
}